@charset "UTF-8";/*para utilizar acentos*/

form#contato, form#login, form#cadUsu, form#cadastroProduto {/*formata o formulario*/
    width: 500px;/*define a largura*/
    margin: auto;/*deixar centralizado*/
    margin-left: 23%;
    margin-bottom: 100px;
    margin-top:80px;
}

input, textarea{/*formata todos os inputs e textarea*/
    font-family: sans-serif;
    font-weight: normal;/*nao deixar em negrito*/
    font-size: 13pt;/*tamanho da fonte*/
}

input:hover, textarea:hover{/*quando passar o mouse sobre o input e textarea mude a cor de fundo*/
    background-color: #dddddd;
}

legend{/*formatar as legendas*/
    font-weight: bold;/*negrito*/
    font-size: 20pt;
    font-family: sans-serif;
    margin: auto;
    margin-bottom: 30px;
}
fieldset{/*ajusta a cor e margem de todas as bordas*/
    border: none;
}

fieldset#sexo{/*ajusta a largura do campo sexo*/
    width: 10px;   
}

input#bMsg{
    margin-left: 250px;
    width: 100px;
}

input#bCad{
    margin-left: 27px;
}

input#bEntrar{
    margin-left: 10px;
}
