@charset "UTF-8";/*para utilizar acentos*/

@font-face { /* definição de uma fonte externa*/
	font-family: 'FonteLogo'; /*para definir um nome para fonte que sera usada*/
	src: url("../fonts/BentonSans Comp Black Regular.ttf"); /*caminho onde esta a fonte. o dois pontos é para voltar uma pasta no diretorio*/
}



body{/*formata todo conteudo do body*/
    font-family: Arial, sans-serif;
    background-image: url("../imagens/fundoMarvel.jpg") ;/*imagem de fundo do site*/
    color: rgba(0,0,0,1);
    width: 98%;
}

/*formatação da interface*/
div#interface{
    width: 85%;/*largura da interface*/
    background-color: #ffffff;/*cor do fundo da iterface*/
    margin: 50px auto 50px auto;/*margem top direita baixo esquerda*/
    padding: 10px 10px 10px 10px;/*espaço interno dentro do objeto*/
    
}

/*formatação cabecalho*/
header#cabecalho{/*cor e posição do cabeçalho*/
    background-image: url("../imagens/navBar.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    padding-right: 110px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin: -10px;
    height: 220px;
}

/*formatação logo*/
header#cabecalho img#logo{
    position: relative;/*coloca o bloco em uma posição relativa (relativa: presa dentro do conteiner; absoluta: fica livre dentro do site)*/
    left: -2%;
    top: 10px;
    width: 30%;
    vertical-align: middle;
}

/*Formatação do menu*/
nav#menu {
	margin: 35px 0;
        text-transform: uppercase;/*todo o texto em caixa alta*/
        position: relative;/*coloca o bloco em uma posição relativa (relativa: presa dentro do conteiner; absoluta: fica livre dentro do site)*/
        top:-190px;/*posição em relação ao topo*/
        left: 25%;/*posção em relação a margem esquerda*/
        width: 82%;
        font-weight: bold;/*colocar em negrito*/
        transition: color 0.3s;
        font-size: 15pt;
}
nav#menu ul {
	padding: 0;
        margin: 0;
	list-style: none;
	position: relative;
        z-index: 1;
	}	
nav#menu ul li {
	display:inline-block;
        margin-right: 3.5%;
        z-index: 1;
	}
nav#menu a {
	display:block;
	padding:0 10px;	
	color: white;
	line-height: 60px;
	text-decoration:none;
}
nav#menu a:hover { 
	background-color: #FF4500; 
        color: white
}
nav#menu ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
        z-index: 1;
        font-size: 12pt;
}	
nav#menu ul li:hover > ul {
	display:inherit;
}	
nav#menu ul ul li {
	width:230px;
	float:none;
	display:list-item;
	position: relative;
        z-index: 1;
        background-color: rgba(7,0,200,0.9);
}

nav#menu ul ul li a{
    /*color: #FF4500;*/
}

nav#menu ul ul ul li {
	position: relative;
	top:-60px; 
	left:230px;
        z-index: 1;
}
nav#menu ul ul li {
	/*border: 1px solid white;*/
        border-bottom: 1px solid white;
        z-index: 1;
}	
li > a:after { content:  '▼'; }
li li > a:after { content:  '►'; }
li > a:only-child:after { content: ''; }

/*formatação img carrinho de compras*/
.carrinho-img{
    position: absolute;/*coloca o bloco em uma posição relativa (relativa: presa dentro do conteiner; absoluta: fica livre dentro do site)*/
    left: 85%;
    top: -18px;
    width: 20%;
}

/*Formatação do menu busca*/
form#busca{/*formata a posição do campo de busca*/
    position: relative;
    margin-top: 20px;
    padding-bottom: 15px;
    width: 90%;
}
label {
    display:block;
}
input {
    width: 50px;/* define a largura do campo igual a largura do container */
} 
input,  button {/*define a largura do campo de busca*/
	padding: 9px;
}

/*Formatação do corpo*/
section#corpo{
    position: relative;    
}

/*formatação dno rodapé*/

footer#rodape{
    background-color: #dddddd;
    margin:-10px;
    padding: -20px;
}
footer#rodape img#home{
    position: relative;/*coloca o bloco em uma posição relativa (relativa: presa dentro do conteiner; absoluta: fica livre dentro do site)*/
    left: -10px;
    
    width: 22%; /* alterar largura*/
    height: 40%; /* alterar altura*/
}

footer#rodape p#endereco{
    position: relative;
    font-size: 10pt; /*tamanho da fonte*/
    margin-left: 20%;
    margin-top: -110px;
    margin-bottom: -50px;
}

footer#rodape img#facebook{
    position: relative;/*coloca o bloco em uma posição relativa (relativa: presa dentro do conteiner; absoluta: fica livre dentro do site)*/
    left: 50%;
    top: -25px;
    width: 8%; /* alterar largura*/
    height: 43%; /* alterar altura*/
}
footer#rodape img#instagran{
    position: relative;/*coloca o bloco em uma posição relativa (relativa: presa dentro do conteiner; absoluta: fica livre dentro do site)*/
    left: 51%;
    top: -25px;
    width: 8%; /* alterar largura*/
    height: 43%; /* alterar altura*/
}
footer#rodape img#twitter{
    position: relative;/*coloca o bloco em uma posição relativa (relativa: presa dentro do conteiner; absoluta: fica livre dentro do site)*/
    left: 52%;
    top: -35px;
    width: 6.5%; /* alterar largura*/
    height: 41.5%; /* alterar altura*/
}
footer#rodape img#whatsapp{
    position: relative;/*coloca o bloco em uma posição relativa (relativa: presa dentro do conteiner; absoluta: fica livre dentro do site)*/
    left: 53%;
    top: -35px;
    width: 6.5%; /* alterar largura*/
    height: 41.5%; /* alterar altura*/
}
footer#rodape img#youtube{
    position: relative;/*coloca o bloco em uma posição relativa (relativa: presa dentro do conteiner; absoluta: fica livre dentro do site)*/
    left: 54%;
    top: -35px;
    width: 6.5%; /* alterar largura*/
    height: 41.5%; /* alterar altura*/
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
   
    padding: 10px;
  }
.label.name {
    margin-left: 10px;
    margin-top: -300px; 
    color: #000;
  }

  .descri{
      font-size:15px;
       width: 49%;
       border:1px black solid;
       margin-right: 20px;
      margin-left: 10px;
       margin-top: -60px;
       float: left;
  }
 .ficha{
      font-size:15px;
       width: 49%;
       border:1px black solid;
       margin-right: 20px;
      margin-left: 10px;
       margin-top: -180px;
       float: left;
  }
 .comment {
 margin-top: 100px;
}
.grid-item{
    margin-top:50px;
}
.labels{
    position:relative;
}
.ava{
    
      font-size:15px;
       width: 45%;
       border:1px black solid;
       margin-right: 20px;
      margin-left: 50px;
       margin-top: 10px;
       float:right;
       
  }
img#delete{
    width: 70%; /* alterar largura*/
    height: 5%; /* alterar altura*/
    margin-right:   -950px;
}

section#carrinho h1#titulo{
    margin-left: 550px;
    font-size: 40pt;
}

div#item{
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    margin: 15px;
    margin-left: 100px;
    width: 500px;
}

div#item h1 {
    margin-left: 200px;
    margin-top: -10px;
}

div#item h3 {
    margin-left: 200px;
    margin-top: -10px;
    padding-bottom: 10px;
    border-bottom: 1px #606060 solid; 
    border-bottom-width: 5px;
}

div#item p {
    margin-left: 200px;
    margin-top: -10px;
}

div#item input#percentage{
    width: 40px;
}

div#item form#qtd{
    margin-left: 200px;
}

div#item img{
    width: 40%;
    height: 40%;
}
.space{
    margin-top: 100px;
    margin-bottom: 100px;
}
.mrgl{
    
    margin-left:130px;
}
.space1{
  
    margin-bottom: 100px;
}